/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" */
.v-application .primary-1 {
    background-color: #8364e2 !important;
    border-color: #8364e2!important;
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    left: 0px !important;
}

.v-navigation-drawer--fixed {
    z-index: 0 !important;
}